<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
		<description>Set charset for all request and response to UTF-8</description>
		<display-name>Charset Filter</display-name>
		<filter-name>charsetFilter</filter-name>
		<filter-class>com.hywang.timeline.filter.CharSetFilter</filter-class>
	</filter>
	<!-- <filter> -->
	<!-- <description>check the authorization of user</description> -->
	<!-- <display-name>User Filter</display-name> -->
	<!-- <filter-name>userFilter</filter-name> -->
	<!-- <filter-class>com.hywang.timeline.filter.UserAuthorizeFilter</filter-class> -->
	<!-- </filter> -->
	<filter>
		<description>determin whether the current connection should auto logon</description>
		<display-name>Auto Logon Filter</display-name>
		<filter-name>autoLogonFilter</filter-name>
		<filter-class>com.hywang.timeline.filter.UserAutoLogonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>autoLogonFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<!-- <init-param> -->
		<!-- <param-name>actionPackages</param-name> -->
		<!-- <param-value>com.mycompany.myapp.actions</param-value> -->
		<!-- </init-param> -->
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--Config Spring file-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-config/services.xml</param-value>
	</context-param>
	<!--Config Spring listener-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>timeline.jsp</welcome-file>
	</welcome-file-list>
</web-app>
